<div class="flex flex-col gap-4">
    <h2>The next generation motion design tool</h2>
    <p>
        We believe tools for expressing yourself should be accessible to
        everybody. Not constrained to proprietary operating systems or monthly
        subscriptions. You should own the tools you work with.
    </p>
    <p>
        tempblade Creator aims to become a viable alternative to current motion
        design tools, and even exceed them in certain aspects like
        extensibility. This is only possible due to our open source approach.
        Currently we are in a early alpha stage, and the program has to be seen
        as a proof of concept rather then a finished product.
    </p>
    <p>
        You're a developer, like our idea and want to help? Join our discord or
        check out the repository!
    </p>
    <p>
        You're not a developer but still want to support the work? I've got a
        patreon!
    </p>
</div>
