---
import RootLayout from "@/layouts/RootLayout.astro";
import Section from "@/components/Section.astro";
import Landing from "@/sections/Landing.astro";
import Introduction from "@/sections/Introduction.astro";
import Features from "@/sections/Features.astro";
---

<RootLayout title="tempblade - Creator">
	<main>
		<Section padding={false}>
			<Landing />
		</Section>
		<Section>
			<Introduction />
		</Section>
		<Section padding={false}>
			<Features />
		</Section>
	</main>
</RootLayout>
