---
import RootLayout from "@/layouts/RootLayout.astro";
import Section from "@/components/Section.astro";
import Button from "@/components/Button.astro";
import Landing from "@/sections/Landing.astro";
import Introduction from "@/sections/Introduction.astro";
import Features from "@/sections/Features.astro";
---

<RootLayout title="tempblade - Creator">
	<main>
		<Section>
			<Landing />
		</Section>
		<Section>
			<Introduction />
		</Section>
		<Section>
			<Features />
		</Section>
		<Section id="test">
			<h1>Hallo!</h1>
			<h2>Wie gehts</h2>
			<h3>Wie gehts</h3>
			<h4>Wie gehts</h4>
			<h5>Wie gehts</h5>
			<p>
				cssnano is powered by PostCSS, a tool for transforming styles
				with JavaScript. Specifically, its plugin architecture allows us
				to compose cssnano out of small modules with limited
				responsibilities. It also allows you to easily insert cssnano
				into your build step, along with other processors that can lint
				your CSS for errors, or transpile future syntax.
			</p>
			<Button>Hallo</Button>
			<Button variant="secondary">Hallo</Button>
			<Button variant="ghost">Hallo</Button>
			<Button variant="destructive">Hallo</Button>
			<Button variant="outline">Hallo</Button>
			<Button variant="link">Hallo</Button>
		</Section>
	</main>
</RootLayout>
