<a id="logo" class="block" href="/">
  <h1 class="text-4xl leading-8 font-bold">
    <span>p</span><span>l</span><span>a</span><span>y</span>
  </h1>
</a>
<style>
  a {
    display: block;
    overflow: visible;
  }
  h1 {
    display: block;
    padding: 4px;
    margin-bottom: 0.25rem;
    background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;

    &:hover {
      -webkit-text-stroke: 1px #eee;
    }

    & span {
      display: inline-block;
    }
  }
</style>
<script>
  import { animate, stagger } from "motion";
  import { ease } from "@unom/style";

  const logoText = document.querySelectorAll("#logo h1")[0];

  console.log(logoText);

  animate(
    logoText.children as any,
    { y: [-30, 0], opacity: [0, 1] },
    { ...ease.quint(0.7).out, delay: stagger(0.1) }
  );
</script>
